* {
  padding: 0;
  margin: 0;
}

.wrapper .btn-purple-s {
  background-color: #6366f1;
  border: 1px solid #6366f1;
  color: #f0efe9;
  padding: 6.5px 23px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
}
.wrapper .btn-purple-s i {
  margin-right: 4px;
  font-size: 0.9em;
}
.wrapper .btn-purple-s:hover {
  background-color: #EFF2FC;
  border: 1px solid #EFF2FC;
  color: #191919;
  transition: 0.3s;
}
.wrapper .btn-white-s {
  position: relative;
  margin-right: 10px;
  background-color: #EFF2FC;
  border: 1px solid #EFF2FC;
  color: #191919;
  padding: 6.5px 23px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
}
.wrapper .btn-white-s i {
  margin-right: 4px;
  font-size: 0.9em;
}
.wrapper .btn-white-s:hover {
  background-color: #6366f1;
  border: 1px solid #6366f1;
  color: #f0efe9;
  transition: 0.3s;
}
.wrapper header {
  padding-top: 20px;
}
.wrapper header .container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto;
}
.wrapper header .menu {
  position: relative;
  left: -130px;
}
.wrapper header .menu a {
  color: #33354D;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
}
.wrapper header #profilepic {
  width: 46px;
  position: relative;
  left: 335px;
}
.wrapper main {
  padding-top: 20px;
}
.wrapper main .container .account-profile {
  width: 340px;
  border: 2px solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-color: #E2E5F1;
  height: 900px;
}
.wrapper main .container .account-profile .acc-profileinfo {
  padding-left: 10px;
  padding-top: 40px;
}
.wrapper main .container .account-profile .acc-profileinfo img {
  width: 130px;
  margin-left: 90px;
}
.wrapper main .container .account-profile .acc-profileinfo #acc-btn-1 {
  display: inline-block;
  border-radius: 100%;
  padding: 6px;
  width: 35px;
  position: relative;
  bottom: -45px;
  left: -42px;
}
.wrapper main .container .account-profile .acc-profileinfo #acc-btn-1 i {
  position: relative;
  left: 2px;
}
.wrapper main .container .account-profile .acc-profileinfo h4 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 15px;
  margin-left: 105px;
}
.wrapper main .container .account-profile .acc-profileinfo p {
  margin-left: 70px;
}
.wrapper main .container .account-profile .acc-btns-details {
  padding-top: 20px;
}
.wrapper main .container .account-profile .acc-btns-details button {
  width: 320px;
  height: 45px;
  text-align: start;
  font-size: 18px;
  margin-bottom: 13px;
}
.wrapper main .container .account-profile .acc-btns-details button i {
  padding-right: 6px;
}
.wrapper main .container .account-profile .acc-btns-details a {
  text-decoration: none;
}
.wrapper main .container .account-profile .acc-btns-details a p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 320px;
  height: 45px;
  border-radius: 8px;
  color: #33354D;
}
.wrapper main .container .account-profile .acc-btns-details a p:hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;
  background-color: #6366f1;
}
.wrapper main .container .account-profile .acc-btns-details a p i {
  padding-left: 23px;
  padding-right: 8px;
}
.wrapper main .container .notifications {
  position: absolute;
  left: 740px;
  bottom: 90px;
  width: 860px;
}
.wrapper main .container .notifications h2 {
  font-size: 40px;
  font-weight: 700;
}
.wrapper main .container .notifications .email-notify {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapper main .container .notifications .email-notify p {
  font-size: 20px;
  font-weight: 500;
}
.wrapper main .container .notifications .email-notify input {
  height: 50px;
  width: 413px;
  border-radius: 5px;
  padding: 20px 45px 20px 20px;
  border: 1px solid #D4D7E5;
  position: relative;
  bottom: 12px;
  font-size: 18px;
}
.wrapper main .container .notifications .sub-notify {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}
.wrapper main .container .notifications .sub-notify .noti-sliders {
  position: relative;
}
.wrapper main .container .notifications .sub-notify .noti-sliders .sliderround {
  display: inline-block;
  width: 68px;
  height: 33px;
  background-color: #565973;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.wrapper main .container .notifications .sub-notify .noti-sliders .sliderround::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 29px;
  background-color: white;
  transition: 0.3s;
  border-radius: 200px;
  top: 2px;
  left: 2px;
}
.wrapper main .container .notifications .sub-notify .noti-sliders input {
  width: 100px;
  display: none;
}
.wrapper main .container .notifications .sub-notify .noti-sliders input:checked + .sliderround {
  background-color: #22C55E;
}
.wrapper main .container .notifications .sub-notify .noti-sliders input:checked + .sliderround::before {
  transform: translateX(34px);
}
.wrapper main .container .notifications .sub-notify .notify-slidertext h6 {
  font-weight: 700;
  font-size: 17px;
}
.wrapper main .container .notifications .sub-notify .notify-slidertext p {
  color: #9397AD;
}
.wrapper main .container .notifications .acc-buttons {
  padding-top: 300px;
}
.wrapper footer {
  padding-top: 180px;
}
.wrapper footer .container .socialmedias {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.wrapper footer .container .socialmedias a {
  background-color: #EFF2FC;
  border-radius: 7px;
}
.wrapper footer .container .socialmedias a:hover {
  background-color: #c5d2ff;
  transition: 0.3s;
}
.wrapper footer .container .socialmedias a i {
  margin: 15px 17.5px 15px 17.5px;
  font-size: 20px;
  color: #33354D;
}
.wrapper footer .container p {
  text-align: center;
  font-size: 18px;
  color: #9397AD;
}
.wrapper footer .container .footerrights {
  padding-bottom: 50px;
  position: relative;
  bottom: 12px;
}