*{
    padding: 0;
    margin: 0;
}

.wrapper{

    .btn-purple-s {
        background-color: #6366f1;
        border: 1px solid #6366f1;
        color: #f0efe9;
        padding: 6.5px 23px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 8px;
        margin-bottom: 5px;
        box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
        
        i{
            margin-right: 4px;
            font-size: 0.9em;
        }
    
        &:hover{
            background-color: #EFF2FC;
            border: 1px solid #EFF2FC;
            color: #191919;
            transition: 0.3s;
        }
    }
    
    .btn-white-s {
        position: relative;
        margin-right: 10px;
        background-color: #EFF2FC;
        border: 1px solid #EFF2FC;
        color: #191919;
        padding: 6.5px 23px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 8px;
        margin-bottom: 5px;
        box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
        
        i{
            margin-right: 4px;
            font-size: 0.9em;
        }
    
        &:hover{
            background-color: #6366f1;
            border: 1px solid #6366f1;
            color: #f0efe9;
            transition: 0.3s;
        }
    }
    
    header {
        padding-top: 20px;
    
        .container {
            display: grid;
            align-items: center;
            grid-template-columns: auto auto auto auto;
        }
    
        .menu{
            position: relative;
            left: -130px;
                a{
                    color: #33354D;
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    margin-left: 20px;
                }
        }
    
        
       #profilepic{
        width: 46px;
        position: relative;
        left: 335px;
       }
        
    }

    main{
        padding-top: 20px;
        .container{

            .account-profile{
                width: 340px;
                border: 2px solid;
                border-left: none;
                border-top: none;
                border-bottom: none;
                border-color: #E2E5F1;
                height: 900px;

                .acc-profileinfo{
                    padding-left: 10px;
                    padding-top: 40px;
                    img{
                        width: 130px;
                        margin-left: 90px;
                    }
    
                    #acc-btn-1{
                        display: inline-block;
                        border-radius: 100%;
                        padding: 6px;
                        width: 35px;
                        position: relative;
                        bottom: -45px;
                        left: -42px;
                        
    
                        i{
                            position: relative;
                            left: 2px;
                        }
                    }
    
                    h4{
                        font-size: 22px;
                        font-weight: 700;
                        padding-top: 15px;
                        margin-left: 105px;
                    }
    
                    p{
                        margin-left: 70px;
                    }
                }

                .acc-btns-details{
                    padding-top: 20px;
                    button{
                        width: 320px;
                        height: 45px;
                        text-align: start;
                        font-size: 18px;
                        margin-bottom: 13px;

                        i{
                            padding-right: 6px;
                        }
                    }

                    a{
                        text-decoration: none;

                        p{
                            padding-top: 10px;
                            font-size: 18px;
                            font-weight: 600;
                            width: 320px;
                            height: 45px;
                            border-radius: 8px;
                            color: #33354D;
    
    
                            &:hover{
                                cursor: pointer;
                                color: white;
                                transition: 0.3s;
                                background-color:#6366f1; 
                            }
    
                            i{
                                padding-left: 23px;
                                padding-right: 8px;
                            }
                        }
                    }
                    
                }

            }

            .notifications{
                position: absolute;
                left: 740px;
                bottom: 90px;
                width: 860px;

                h2{
                    font-size: 40px;
                    font-weight: 700;
                }

                .email-notify{
                    padding-top: 30px;
                    padding-bottom: 30px;
                    p{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    input{
                        height: 50px;
                        width: 413px;
                        border-radius: 5px;
                        padding: 20px 45px 20px 20px;
                        border: 1px solid #D4D7E5;
                        position: relative;
                        bottom: 12px;
                        font-size: 18px;
                        }
                }

                .sub-notify{
                    display: flex;
                    gap: 15px;
                    padding-bottom: 15px;

                    .noti-sliders{
                       position: relative;

                        .sliderround {
                            display: inline-block;
                            width: 68px;
                            height: 33px;
                            background-color: #565973;
                            border-radius: 200px;
                            cursor: pointer;
                            transition: 0.3s;
                            position: relative;
                            
                            &::before {
                                position: absolute;
                                content: "";
                                width: 30px;
                                height: 29px;
                                background-color: white;
                                transition: 0.3s;
                                border-radius: 200px;
                                top: 2px;
                                left: 2px;
                            }

                        }

                        input{
                            width: 100px;
                            display: none;
                        }
                
                        input:checked + .sliderround {
                            background-color: #22C55E;
                        }
                
                        input:checked + .sliderround::before {
                            transform: translateX(34px);
                        }
                    
                    }

                    .notify-slidertext{
                    
                        h6{
                            font-weight: 700;
                            font-size: 17px;
                        }
                        p{
                            color: #9397AD;
                        }
                    }
                   
                }

                .acc-buttons{
                    padding-top: 300px;
                }
            }

           
        }
    }

    footer{
        padding-top: 180px;
        
        .container{

            .socialmedias{
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;
                padding-bottom: 50px;
                
                
                a{
                    background-color: #EFF2FC;
                    border-radius: 7px;

                    &:hover{
                        background-color: #c5d2ff;
                        transition: 0.3s;
                    }

                    i{
                        margin: 15px 17.5px 15px 17.5px;
                        font-size: 20px;
                        color: #33354D;
                    }
                }
            }

            p{
                text-align: center;
                font-size: 18px;
                color: #9397AD;
            }

            .footerrights{
                padding-bottom: 50px;
                position: relative;
                bottom: 12px;
            }
        }
    }
}